body {
    background-color: #f1f1f2;
    margin-left: 40px;
    font-family: Helvetica, Verdana, sans-serif;
    font-size: 12px;
    color: #717272;
}

h1 {
  font-size: 36px;
  color: #404041;
}

h2 {
  font-size: 18px;
  color: #404041;
}



form {
    font-size: 12px;
    color: #404041;
    line-height: 24px;
}

#top #sandwich {
    float: left;
    width: 200px;
    height: 90px;
    margin: 5px;
}

.topping {
 
}

.output {
    border: none;
    font-size: 36px;
    color: #bc2045;
    background-color: rgba(0,0,0,0);
    width: 3em;
}

input {
  font-family: Helvetica, Verdana, sans-serif;
  font-weight: 700;
  letter-spacing: -0.05em;
  font-size: 24px;
  color: #404041;
}

.left {
    float: left;
    width: 30%;
    min-width: 200px;
}

.right {
    float: left;
     width: 30%;
     min-width: 200px;
}

.total {
    float: left;
    width: 30%;
    min-width: 200px;
}

td {
    vertical-align: top;
    padding-bottom: 1em;
}