h1 {
  font-family: "Helvetica", sans-serif;
  font-size: 36px;
  color: #404041;
}

h2 {
  font-family: "Helvetica", sans-serif;
  font-size: 18px;
  color: #404041;
}

p {
	font-family: "Helvetica", sans-serif;
}

body {
    background-color: #f1f1f2;
    margin-left: 40px;
}

form {
    font-family: "Helvetica", sans-serif;
    font-size: 12px;
    color: #404041;
    line-height: 24px;
}

#top

.topping {
    font-family: "Helvetica", sans-serif;
}

.output {
    border: none;
    font-size: 16px;
    font-family: "Helvetica", sans-serif;
    background-color: rgba(0,0,0,0);
    width: 3em;
}

input {
  font-family: "Helvetica", sans-serif;
  font-size: 24px;
  color: #404041;
}